@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeInDark {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.fadeInDark {
  animation: fadeInDark 3s ease-in-out;
}

@keyframes dropBounce {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.contentDropBounce {
  animation: dropBounce 1s ease-in-out;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconRotate {
  animation: rotateIcon 1s ease-in-out;
  animation-delay: 2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-section-1 {
  animation: fadeInUp 1s ease-out;
  animation-delay: 0.5s;
}

.text-section-2 {
  animation: fadeInUp 1s ease-out;
  animation-delay: 1s;
}

.text-section-3 {
  animation: fadeInUp 1s ease-out;
  animation-delay: 1.5s;
}
